@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3>Bem vindo</h3>
</div>
<h3></h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Lucas Camilo</h3>
    </div>
    <div class="panel-body">
        Setor: Coordenação
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Verifique os cadastros de aluno</h3>
    </div>
    <div class="panel-body">
        Bata clicar no botão
        <p></p>
        <button class="btn btn-primary">Clique</button>
    </div>
</div>
